<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Add User</h2>
<div mat-dialog-content>

    <div class="mb-16">
        <mat-form-field appearance="outline" class="mr-16 mt-16">
            <mat-label>First name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.firstname" matInput placeholder="First name" value="">
            <mat-hint>Enter your first Name</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="mt-16">
            <mat-label>Last Name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.lastname" matInput placeholder="Last Name" value="">
            <mat-hint>Enter your last Name</mat-hint>
        </mat-form-field>
    </div>

    <div class="mb-16">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Choose a date</mat-label>
            <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="mb-16">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="Email" value="">
            <mat-hint>Enter your email</mat-hint>
        </mat-form-field>
    </div>

    <div class="mb-16">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Address</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street, House No." value="">
            <mat-hint>Enter your address</mat-hint>
        </mat-form-field>
    </div>
    <div class="mb-16">
        <mat-form-field appearance="outline" class="mr-16">
            <mat-label>Zipcode</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.zipcode" matInput placeholder="Zipcode" value="">
            <mat-hint>Enter your Zipcode</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="">
            <mat-label>City</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City" value="">
            <mat-hint>Enter your City</mat-hint>
        </mat-form-field>
    </div>
</div>


<mat-dialog-actions>
    <button [disabled]="loading" (click)="dialogRef.close()" mat-button>No Thanks</button>
    <button [disabled]="loading" mat-button color="primary" cdkFocusInitial (click)="saveUser()">Add</button>
</mat-dialog-actions>